.header{
    border-bottom: 1px solid #ddd;
}

.header__btns{
    float: right;
    line-height:46px;
}

.navbar-nav>li {
    padding: 0 7px;
}

.loading{
    text-align: center;
    padding-bottom:12px;
}

.loading__img{
    width:30px;
}

.status{
    padding-top:15px;
}