ul{
   list-style:none;
}
a{
    display: block;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

button:active, button:focus {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0;
}


.w-100{
    width:100%;
}


.filter__btn{
    margin-left:12px;
}
